= turbo_frame_tag "#{dom_id(chat)}_message_form" do
  = form_with(model: Message.new, url: [chat, chat.messages.new]) do |form|
    .input-group
      = form.text_area :content, rows: 4, class: "form-control", autofocus: true, "x-on:keydown.cmd.enter" => "$event.target.form.requestSubmit();"
      = form.button "Send", type: :submit, class: "btn btn-outline-primary"
