= form_for [:admin, @book] do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = f.label :title, class: "form-label"
    = f.text_field :title, class: "form-control"
  .mb-3
    = f.label :author, class: "form-label"
    = f.text_field :author, class: "form-control"
  .mb-3
    = f.label :review, class: "form-label"
    = f.textarea :review, class: "form-control"
  .actions.mb-3
    = f.submit 'Save', class: "btn btn-outline-primary"
