%h1 Listing books

%table.table
  %thead
    %tr
      %th{ scope: "col" } Title
      %th{ scope: "col" } Author
      %th{ scope: "col" } Review
      %th{ scope: "col" }

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.author
        %td= book.review
        %td
          = link_to 'Show', [ :admin, book ]
          = link_to 'Edit', edit_admin_book_path(book)
          = link_to 'Destroy', [ :admin, book ], method: :delete,
            data: { turbo_method: :delete, confirm: 'Are you sure?' }

= link_to 'New Book', new_admin_book_path
